<div class="sidenav">
  <div class="login-main-text">
    <h2><b>Domorespices</b></h2>
    <div>
      <form [formGroup]="foodForm" #userForm="ngForm">
        <div class="form-group">
          <label>Food Type</label>
          <select formControlName="foodType" class="form-control" id="sel1">
            <option class="form-control" value="selectFirst" selected disabled>Select food type</option>
            <option>BREAKFAST</option>
            <option>LUNCH</option>
            <option>DINNER</option>
          </select>
        </div>
        <label>Food Name</label>
        <input type="text" class="form-control form-control-m " formControlName="foodName" placeholder="Food Name"
          required>
        <label>Food Price</label>
        <input type="number" class="form-control form-control-m " formControlName="foodPrice" placeholder="Food Price"
          required>
        <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" (click)="createInventry(userForm)">Add
          item to inventory</button>
      </form>
    </div>
  </div>
</div>

<div class="main align-item-center">
  <div class="col-md-12 col-sm-12">
    <div class="login-form myform">
      <h3 *ngIf="!enableSaveButton">+ Add items to create your inventory</h3>
      <form #form="ngForm">
        <div *ngIf="inventory.breakfastList.length>0">
          <h5>Breakfast</h5>
          <div *ngFor="let item of inventory.breakfastList; let i=index">
            <div class="row">
              <div class="col-md-6">
                  <span><i class="fas fa-hamburger"></i>{{item.foodName}}</span>
              </div>
              <div class="col-md-3">
                <span>{{item.foodPrice}}.00rs</span>
              </div>
              <div class="col-md-1">
                <button class="update-button" (click)="getObject(item,i)"><i class="far fa-edit"></i> </button>
              </div>
              <div class="col-md-1">
                <button class="delete-button" (click)="removeObject(item.foodType,i)"><i class="fa fa-trash" aria-hidden="true"></i> </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="inventory.lunchList.length>0">
          <h5>Lunch</h5>
          <div *ngFor="let item of inventory.lunchList; let i=index">
            <div class="row">
              <div class="col-md-6">
                <span>{{item.foodName}}</span>
              </div>
              <div class="col-md-3">
                <span>{{item.foodPrice}}.00rs</span>
              </div>
              <div class="col-md-1">
                <button class="update-button" (click)="getObject(item,i)"><i class="far fa-edit"></i> </button>
              </div>
              <div class="col-md-1">
                <button class="delete-button" (click)="removeObject(item.foodType,i)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="inventory.dinnerList.length>0">
          <h5>Dinner</h5>
          <div *ngFor="let item of inventory.dinnerList; let i=index">
            <div class="row">
              <div class="col-md-6">
                <span>{{item.foodName}}</span>
              </div>
              <div class="col-md-3">
                <span>{{item.foodPrice}}.00rs</span>
              </div>
              <div class="col-md-1">
                <button class="update-button" (click)="getObject(item,i)"> <i class="far fa-edit"></i></button>
              </div>
              <div class="col-md-1">
                <button class="delete-button" (click)="removeObject(item.foodType,i)"> <i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
        <button class=" btn btn-block mybtn btn-primary tx-tfm" style="width: 50%; float: left;" *ngIf="enableSaveButton" (click)="update()">Save
        </button>
      </form>
    </div>
  </div>
</div>